{% load static %}
<div class="navbar">
    <div class="container mx-auto">
        <header class="md:flex md:items-center md:justify-between p-4 header pb-0 md:pb-4">
            <div class="flex items-center justify-between mb-4 md:mb-0">
                <a class="no-underline text-grey-darkest hover:text-black flex logo" href="{% url 'store' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="">
                    <h1 class="leading-none text-2xl text-grey-darkest font-bold">
                        PenStore
                    </h1>
                </a>
                <form>
                    <input class="bg-gray-100 p-4 rounded-md search_form" placeholder="Search" type="text">
                </form>
                <a class="text-black md:hidden" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                         class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"/>
                    </svg>
                </a>
            </div>
            <nav>
                <ul class="list-reset md:flex md:items-center">
                    <li class="md:ml-10">
                        <a class="block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0"
                           href="{% url 'cart' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                 class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="md:ml-10">
                        <a class="block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0"
                           href="{% url 'signin' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                 class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                            </svg>
                        </a>
                    </li>

                    <li class="md:ml-10">
                        <a class="block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0"
                           href="{% url 'cart' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                 class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"/>
                            </svg>
                        </a>
                    </li>

                </ul>
            </nav>
        </header>
    </div>
    <div class="mini-nav">
        <ul class="text-indigo-700 font-medium bg-indigo-100">
            <li>New Arrivals</li>
            <li>Fountain Pens</li>
            <li>Notebooks</li>
            <li>Shop By Brand</li>
            <li>Others</li>
        </ul>
    </div>
</div>