*, *:focus, *:active, button:focus, button:active {
    outline: none;
}

img, .thumbnail{
    z-index: -10 !important;
}

.auth-page{
    min-height: 80vh;
}

.navbar {
    margin-bottom: 150px;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.main {
    padding-top: 150px;
}

input {
    padding-left: 20px !important;
}

.search_form {
    width: 600px;
    display: flex;
    margin-left: 100px;
}


.logo {
    vertical-align: middle;
}

.logo img {
    width: 30px;
}

.logo h1 {
    margin: 5px 20px;
}

.mini-nav {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.mini-nav ul {
    min-width: 100%;
    text-align: center;
    padding: 10px 0;
}

.mini-nav ul li {
    display: inline;
    padding: 0 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 4px 5px 16px 0px rgb(0 0 0 / 9%);
    border-radius: 6px;
    padding: 10px 20px;
    z-index: 1;
}

.dropdown-content div{
    margin: 10px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

